USE [master]
GO
/****** Object:  Database [DB_JobTest]    Script Date: 17/12/2025 16:19:51 ******/
CREATE DATABASE [DB_JobTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_JobTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_JobTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_JobTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_JobTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_JobTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_JobTest]
GO
/****** Object:  Table [dbo].[EmployerProfile]    Script Date: 17/12/2025 16:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployerProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[Industry] [nvarchar](max) NOT NULL,
	[EmployeeCount] [int] NOT NULL,
 CONSTRAINT [PK_EmployerProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobApplication]    Script Date: 17/12/2025 16:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeekerId] [int] NOT NULL,
	[JobOfferId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JobApplication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobOffer]    Script Date: 17/12/2025 16:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobOffer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[EmployerId] [int] NOT NULL,
	[Mode] [int] NOT NULL,
	[Salary] [nvarchar](15) NOT NULL,
	[Payment] [int] NOT NULL,
 CONSTRAINT [PK_JobOffer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeekerProfile]    Script Date: 17/12/2025 16:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeekerProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Age] [nvarchar](max) NOT NULL,
	[ContactNumber] [nvarchar](15) NOT NULL,
	[ELevel] [int] NOT NULL,
	[WorkXP] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SeekerProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17/12/2025 16:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Pass] [nvarchar](max) NOT NULL,
	[URole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployerProfile_UserId]    Script Date: 17/12/2025 16:19:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployerProfile_UserId] ON [dbo].[EmployerProfile]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobApplication_JobOfferId]    Script Date: 17/12/2025 16:19:52 ******/
CREATE NONCLUSTERED INDEX [IX_JobApplication_JobOfferId] ON [dbo].[JobApplication]
(
	[JobOfferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobApplication_SeekerId]    Script Date: 17/12/2025 16:19:52 ******/
CREATE NONCLUSTERED INDEX [IX_JobApplication_SeekerId] ON [dbo].[JobApplication]
(
	[SeekerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobOffer_EmployerId]    Script Date: 17/12/2025 16:19:52 ******/
CREATE NONCLUSTERED INDEX [IX_JobOffer_EmployerId] ON [dbo].[JobOffer]
(
	[EmployerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeekerProfile_UserId]    Script Date: 17/12/2025 16:19:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SeekerProfile_UserId] ON [dbo].[SeekerProfile]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobOffer] ADD  DEFAULT ((2)) FOR [Mode]
GO
ALTER TABLE [dbo].[JobOffer] ADD  DEFAULT ('0') FOR [Salary]
GO
ALTER TABLE [dbo].[JobOffer] ADD  DEFAULT ((1)) FOR [Payment]
GO
ALTER TABLE [dbo].[EmployerProfile]  WITH CHECK ADD  CONSTRAINT [FK_EmployerProfile_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployerProfile] CHECK CONSTRAINT [FK_EmployerProfile_User_UserId]
GO
ALTER TABLE [dbo].[JobApplication]  WITH CHECK ADD  CONSTRAINT [FK_JobApplication_JobOffer_JobOfferId] FOREIGN KEY([JobOfferId])
REFERENCES [dbo].[JobOffer] ([Id])
GO
ALTER TABLE [dbo].[JobApplication] CHECK CONSTRAINT [FK_JobApplication_JobOffer_JobOfferId]
GO
ALTER TABLE [dbo].[JobApplication]  WITH CHECK ADD  CONSTRAINT [FK_JobApplication_SeekerProfile_SeekerId] FOREIGN KEY([SeekerId])
REFERENCES [dbo].[SeekerProfile] ([Id])
GO
ALTER TABLE [dbo].[JobApplication] CHECK CONSTRAINT [FK_JobApplication_SeekerProfile_SeekerId]
GO
ALTER TABLE [dbo].[JobOffer]  WITH CHECK ADD  CONSTRAINT [FK_JobOffer_EmployerProfile_EmployerId] FOREIGN KEY([EmployerId])
REFERENCES [dbo].[EmployerProfile] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobOffer] CHECK CONSTRAINT [FK_JobOffer_EmployerProfile_EmployerId]
GO
ALTER TABLE [dbo].[SeekerProfile]  WITH CHECK ADD  CONSTRAINT [FK_SeekerProfile_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeekerProfile] CHECK CONSTRAINT [FK_SeekerProfile_User_UserId]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEmployerProfile]    Script Date: 17/12/2025 16:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteEmployerProfile]
    @Id INT -- Este es el ID del EmployerProfile
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY  
        DECLARE @UserId INT;
         
        SELECT @UserId = UserId FROM EmployerProfile WHERE Id = @Id;  

        DELETE FROM JobApplication 
        WHERE JobOfferId IN (SELECT Id FROM JobOffer WHERE EmployerId = @Id);  

        DELETE FROM JobOffer WHERE EmployerId = @Id;

        DELETE FROM EmployerProfile WHERE Id = @Id; 

        IF @UserId IS NOT NULL
        BEGIN
            DELETE FROM dbo.[User] WHERE Id = @UserId;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSeekerProfile]    Script Date: 17/12/2025 16:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSeekerProfile]
    @SeekerId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY  
        DECLARE @UserId INT;
        
        SELECT @UserId = UserId FROM SeekerProfile WHERE Id = @SeekerId; 
        DELETE FROM JobApplication WHERE SeekerId = @SeekerId;  
        DELETE FROM SeekerProfile WHERE Id = @SeekerId; 
        IF @UserId IS NOT NULL
        BEGIN
            DELETE FROM dbo.[User] WHERE Id = @UserId;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterFullUser]    Script Date: 17/12/2025 16:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterFullUser]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(MAX),
    @Pass NVARCHAR(MAX),
    @URole INT,
    @Age INT = NULL,
    @ContactNumber NVARCHAR(MAX) = NULL,
    @ELevel INT = NULL,
    @WorkXP NVARCHAR(MAX) = NULL,
    @Notes NVARCHAR(MAX) = NULL,
    @Location NVARCHAR(MAX) = NULL,
    @Industry NVARCHAR(MAX) = NULL,
    @EmployeeCount INT = NULL,
    @NewUserId INT OUTPUT 
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO [User] (FullName, Email, Pass, URole)
        VALUES (@FullName, @Email, @Pass, @URole);
        
        SET @NewUserId = SCOPE_IDENTITY();

        IF @URole = 1
        BEGIN
            INSERT INTO SeekerProfile (UserId, Age, ContactNumber, ELevel, WorkXP, Notes)
            VALUES (@NewUserId, @Age, @ContactNumber, @ELevel, @WorkXP, ISNULL(@Notes, ''));
        END
        ELSE IF @URole = 2
        BEGIN
            INSERT INTO EmployerProfile (UserId, [Location], Industry, EmployeeCount)
            VALUES (@NewUserId, @Location, @Industry, @EmployeeCount);
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 17/12/2025 16:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterUser]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(MAX),
    @Pass NVARCHAR(MAX),
    @URole INT,
    @NewId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [User] (FullName, Email, Pass, URole)
    VALUES (@FullName, @Email, @Pass, @URole); 
    SET @NewId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateLogin]    Script Date: 17/12/2025 16:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidateLogin]
    @Email NVARCHAR(MAX),
    @Pass NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON; 
    SELECT Id, FullName, Email, Pass, URole
    FROM [User]
    WHERE Email = @Email AND Pass = @Pass;
END
GO
USE [master]
GO
